{% extends 'restaurant/base.html' %}

{% block page %}
    <div class="panel">
        <div class="panel-heading bg-blue">
            <h4 class="panel-title text-center text-white">Cargos</h4>
        </div>
        <div class="panel-body">
            <div class="text-right">
                <a href="{% url 'restaurant-add-cargo' %}" class="btn btn-pink">Add Cargo</a>
                <br/>
                <br/>
            </div>
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr class="bg-gray text-white">
                        <th>Id</th>
                        <th>Name</th>
                        <th>Short Description</th>
                        <th>Price</th>
                        <th class="text-center">Image</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cargo in cargos %}
                    <tr>
                        <td scope="row">{{ cargo.id }}</td>
                        <td><a href="{% url 'restaurant-edit-cargo' cargo.id %}">{{ cargo.name}}</a></td>
                        <td>{{ cargo.short_description }}</td>
                        <td>{{ cargo.price }}</td>
                        <td class="text-center"><img class="img-rounded"
                        src="{{ MEDIA_URL }}{{ cargo.image }}" width="50" height="50"></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>



{% endblock%}
