{% extends 'company/base.html' %}

{% block page %}

    <div class="panel">
        <div class="panel-heading bg-blue">
            <h4 class="panel-title text-center text-white">{{ Company.company }} Employee page</h4>
        </div>
        <div class="panel-body">
            <br/>
            <table class="table table-bordered table-hover table-striped">
                <thead>
                  <tr class="bg-gray text-white">
                    <th>driver_id</th>
                    <th>driver_id Id</th>
                    <th>Date Hired</th>
                    <th>Sex</th>
                    <th>Date Of Birth</th>
                    <th>Local Address</th>
                    <th>CDL Class</th>
                    <th>Other CDL Class </th>
                    <th>Wage Plan</th>
                    <th>driver_ids License Number</th>
                    </tr>
                </thead>
                <tbody>
                    {% for driver_id in drivers %}
                        <tr>
                            <td scope="row">{{ driver_id.id }}</td>

                            <td>{{ driver_id.name }}</td>
                            <td>{{ driver_id.driver_id }}</td>
                            <td>{{ driver_id.date_hired }}</td>
                            <td>{{ driver_id.sex}}</td>
                            <td>{{ driver_id.date_of_birth }}</td>
                            <td>{{ driver_id.address }}</td>
                            <td>{{ driver_id.license }}</td>
                            <td>{{ driver_id.other_license_2 }}</td>
                            <td>{{ driver_id.wage_plan}}</td>
                            <td>{{ driver_id.license_number }}</td>
                            <td>

                                {% if driver_id.wage_plan == "Hourly" %}
                                    <form method="POST">
                                      {% csrf_token %}
                                      <input name="id" value="{{ driver_id.driver_id }}" hidden>
                                      <button class="btn btn-success">Ready</button>
                                    </form>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
