{% extends 'company/base.html' %}

{% block page %}
<a href="{% url 'company-profile' %}">Company Profile</a>
<a href="{% url 'company-stats' %}">Stats Page</a>
<a href="{% url 'company-employee' %}">Employee page</a>
    <div class="panel">
        <div class="panel-heading bg-blue">
            <h4 class="panel-title text-center text-white">{{ Company.company }}  Orders History</h4>
        </div>
        <div class="panel-body">
            <br/>
            <table class="table table-bordered table-hover table-striped">
                <thead>
                  <tr class="bg-gray text-white">
                    <th>Company</th>
                    <th>Order_id</th>
                    <th>Date Created</th>
                    <th>Business_id</th>
                    <th>Service Type</th>
                    <th>Weight of Cargo</th>
                    <th>Distance</th>
                    <th>Hazmat Class</th>
                    <th>Price</th>
                  </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                        <tr>
                            <td scope="row">{{ order_id.id }}</td>
                            <td>{{ order.company }}</td>
                            <td>{{ order.order_id }}</td>
                            <td>{{ order.date_created }}</td>
                            <td>{{ order.business_id }}</td>
                            <td>{{ order.service_type}}</td>
                            <td>{{ order.weight }}</td>
                            <td>{{ order.distance }}</td>
                            <td>{{ order.hazmat_class}}</td>
                            <td>{{ order.price }}</td>
                            <td>

                                {% if order.hazmat_class == "12" %}
                                    <form method="POST">
                                      {% csrf_token %}
                                      <input name="id" value="{{ order.hazmat_class}}" hidden>
                                      <button class="btn btn-success">Ready</button>
                                    </form>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>

<a href="{% url 'company-sign-in' %}">Log out</a>
{% endblock %}
