{% extends 'base_signup.html' %}
{% load bootstrap3 %}
{% block title %}{{ driver.company}} Driver Expenses {% endblock %}
{% block heading %}Log your Expenses{% endblock %}

{% block content %}
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    {% bootstrap_form expense_form %}

    {{% expense_form %}}
    <button type="submit" class="btn btn-pink pull-right">null </button>
  </form>
  <a href="{% url 'driver-trip-stop' %}">Stop page</a>
  <a href="{% url 'driver-trip' %}">Back To Trip</a>
  <a href="{% url 'company-sign-in' %}">Log out</a>
{% endblock %}
