{% extends 'base_signup.html' %}
{% load bootstrap3 %}

{% block title %}Wisdom Drivers{% endblock %}
{% block heading %}Sign In{% endblock %}

{% block content %}
  <form  method="POST">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button type="submit" class="btn btn-pink pull-right">Sign In</button>
  </form>

  <a href="{% url 'company-sign-up' %}">Become a Wisdom Drivers associated Company </a><br>


  <a href="{% url 'business-sign-up' %}"> Become a Wisdom Drivers Business</a><br>

	<a href="{% url 'driver-sign-up' %}"> Become a Wisdom Drivers Driver </a>
{% endblock %}
