{% extends 'base_signup.html' %}
{% load bootstrap3 %}

{% block title %}Wisdom Drivers{% endblock %}
{% block heading %}Wisdom Drivers Login{% endblock %}

{% block content %}
  <form method="POST">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button type="submit" class="btn btn-pink pull-right">Sign In</button>
  </form>

  <a href="{% url 'company-sign-up' %}">Become a Company </a><br>
  <a href="{% url 'business-sign-up' %}"> Become a Business </a><br>
  <a href="{% url 'driver-sign-up' %}"> Become a Driver </a>
{% endblock %}
